{% extends "base.html" %}

{% load thumbnail %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% if page.id == 3 or page.parent.id == 3 %} {# если услуги - то выводим статику по-другому #}

    {% block block_body %}
	<div class="f">
		<div class="f_light">
			<div id="f_clouds">
				<div id="f_clouds_clouds"></div>
				<div id="f_clouds_vin"></div>
			</div>
			
			<div id="f_heli">
				<div id="f_heli_ground"><img src="/media/img/heli_ground.png" alt="" /></div>
				<div id="f_heli_shade"></div>
				<div id="f_heli_body"></div>
				<div id="f_heli_blade_stat"></div>
				<div id="f_heli_blade_anim"></div>
			</div>
	
    		<div class="f_content">
    			<a id="logo_white" href="/"><img src="/media/img/logo_white.png" alt="" /></a>

    			<div class="bread">Услуги /</div>

    			<div class="services_menu">
    				<ul>
    					<li class="service_1"><a href="/services/diagnostic/#service_text">Диагностика</a></li>
    					<li class="service_2"><a href="/services/repair/#service_text">Ремонт</a></li>
    					<li class="service_3"><a href="/services/utilization/#service_text">Утилизация</a></li>
    					<li class="service_4"><a href="/services/modification/#service_text">Модификации</a></li>
    					<li class="service_5"><a href="/services/transportation/#service_text">Транспортировка</a></li>
    				</ul>
    			</div>
				
				<div class="otvinta">
					<a class="otvinta_span" href="#">
						<span>От винта!</span>
					</a>
					<a class="otvinta_on_span" href="#">
						<span>Приземлиться</span>
					</a>
				</div>
			</div><!--/f_content-->
		</div><!--/f_light-->
	</div><!--/f-->
    {% endblock %}

    {% block main %}
        <div class="text service_text">{# <a name="service_text"></a>  #}
        {% if page.id == 3 %}
            <h1>{{ page.title }}</h1>
        {% else %}
            <h1 id="service_text">{{ page.title }}</h1>
        {% endif %}
            {{ page.content|safe }}
    {% endblock %}

{% else %}
    {% block right %}
        <h1>{{ page.title }}</h1>
        <div class="text">
            {{ page.content|safe }}
        </div>
    {% endblock %}
{% endif %}