{% extends "base.html" %}

{% load thumbnail %}

{% if page.title %}
    {% block title %}
        {{ news_current.title }} - Новости &mdash;
    {% endblock %}
{% endif %}

{% block right %}
    <h1>{{ news_current.title }}</h1>

    {% if news_current.image %}
        {% thumbnail news_current.image "432x236" crop="center" as im %}
            <div class="new_img"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
        {% endthumbnail %}
    {% endif %}
    <div class="text">
        <div class="new_date">{{ news_current.date_add|date:"j E" }}</div>
        <div class="new_short"><p>{{ news_current.text|safe }}</p></div>
    </div>

{% endblock %}